assignment1/ex2/*.class

assignment1/ex1/*
!assignment1/ex1/eightpuzzle/
!assignment1/ex1/netbeans.zip

assignment1/ex1/eightpuzzle/*
!assignment1/ex1/eightpuzzle/src/
!assignment1/ex1/eightpuzzle/target/

assignment1/ex1/eightpuzzle/target/*
!assignment1/ex1/eightpuzzle/target/jars

assignment1/ex1/eightpuzzle/src/*
!assignment1/ex1/eightpuzzle/src/main/

assignment1/ex1/eightpuzzle/src/main/*
!assignment1/ex1/eightpuzzle/src/main/java/

assignment1/ex1/eightpuzzle/src/main/java/*
!assignment1/ex1/eightpuzzle/src/main/java/unipi/

assignment1/ex1/eightpuzzle/src/main/java/unipi/*
!assignment1/ex1/eightpuzzle/src/main/java/unipi/eightpuzzle/

assignment1/ex1/eightpuzzle/src/main/java/unipi/eightpuzzle/*.form

assignment2/part2/test.py
assignment2/aux_files/_Book/*
assignment2/part1/out/*
assignment2/part1/output/*
# assignment2/part1/build.sh
assignment2/part1/.vscode

# *.jar
# *.arj
